<!-- footer -->
<div class="row-fluid">
      <hr>
      <div class="footer">
        <p>&copy; {{ data.author.name }} 2013
          with help from <a href="http://ruhoh.com" target="_blank" title="The Definitive Technical Blogging Framework">ruhoh</a>,
          <a href='http://angularjs.org/'>AngularJS</a>
          and <a href="http://twitter.github.com/bootstrap/" target="_blank">Twitter Bootstrap</a>
        </p>
      </div>

    {{{ widgets.google_prettify }}}
    {{{ widgets.analytics }}}
</div>
<!-- end footer -->
