<!-- navbar.html -->
<div class="navbar navbar-inverse"><!-- navbar-fixed-top -->
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
      	  <a href="#{{urls.base_path}}" class="brand">Home</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
            {{# data.navigation?to__root }}
              {{> pages_list.html }}
            {{/ data.navigation?to__root }}
            </ul>
          </div>
        </div>
      </div>
</div>
<!-- end navbar.html -->
